html {
    font-family: 'Roboto Mono', monospace;
}

body {
    margin: 20px;
    background-color: rgb(245, 220, 242);
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    padding: 5px;
    border-width: 2px;
    border-color: #000;
    font-family: 'Roboto Mono', monospace;
}

button {
    padding: 5px;
    border-color: #000;
    border-style: solid;
    background-color: #fff;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}

button#connection-indicator {
    /* font-weight: normal; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: none;
    text-decoration: none;
}

status {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    background-color: rgb(255, 148, 184);
    border: 2px solid #000;
    margin-right: 5px;
}

status.connected {
    background-color: rgb(148, 255, 148);
}

.main-container {
    margin-top: 20px;
    position: relative;
    width: calc(100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
}

/* Decals */

.info-panel::before {
    content: "";
    height: 80px;
    width: 80px;
    -webkit-transform: translate(100px, 60px);
        -ms-transform: translate(100px, 60px);
            transform: translate(100px, 60px);
    border-radius: 50%;
    position: absolute;
    background-color: rgba(207, 211, 0, 0.22);
}

/* Decals */

.info-panel::after {
    content: "\A";
    border-style: solid;
    border-width: 10px 18px 10px 0;
    -webkit-transform: rotate(90deg) scale(3.2) translate(45px, 70px);
        -ms-transform: rotate(90deg) scale(3.2) translate(45px, 70px);
            transform: rotate(90deg) scale(3.2) translate(45px, 70px);
    border-color: transparent rgba(255, 0, 184, 0.27) transparent transparent;
    position: absolute;
}

.info-panel {
    padding: 30px;
    height: 250px;
    width: 600px;
    background: #FFFFFF;
    border: 2px solid #0047FF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 10px 6px rgba(0, 148, 255, 0.25);
            box-shadow: 0px 0px 10px 6px rgba(0, 148, 255, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: auto;
}

.info-panel .title {
    font-size: 28px;
    font-weight: 400;
}

.info-panel .amount {
    font-size: 60px;
}

.info-panel .timer {
    font-size: 30px;
    font-weight: 400;
}

.info-panel button.purchase-tickets {
    display: none;
    position: absolute;
    -webkit-transform: translate(-180%, 150%);
        -ms-transform: translate(-180%, 150%);
            transform: translate(-180%, 150%);
    font-size: 25px;
}

ul.transaction-list {
    list-style-type: none;
    width: 600px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 40px;
    padding: 0;
}

li.transaction {
    font-size: 18px;
    margin-top: 15px;
    padding: 6px 15px;
    background-color: #fff;
    border: #000 2px solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #FFFFFF;
    border: 2px solid #A300B1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(189, 0, 255, 0.25);
            box-shadow: 0px 0px 4px 3px rgba(189, 0, 255, 0.25);
    overflow: auto;
}

li.transaction:nth-child(3n) {
    background: #FFFFFF;
    border: 2px solid #0bfd40;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 255, 71, 0.25);
            box-shadow: 0px 0px 4px 3px rgba(0, 255, 71, 0.25);
}

li.transaction:nth-child(2n) {
    background: #FFFFFF;
    border: 2px solid #FFB800;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 230, 0, 0.25);
            box-shadow: 0px 0px 4px 3px rgba(255, 230, 0, 0.25);
}

li.transaction:nth-child(4n) {
    background: #FFFFFF;
    border: 2px solid #00d3e2;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(0, 109, 182, 0.25);
            box-shadow: 0px 0px 4px 3px rgba(0, 109, 182, 0.25);
}

li.transaction:nth-child(5n) {
    background: #FFFFFF;
    border: 2px solid #FF0000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 4px 3px rgba(255, 92, 0, 0.25);
            box-shadow: 0px 0px 4px 3px rgba(255, 92, 0, 0.25);
}

.transaction .address {
    text-decoration: underline;
}

.transaction .amount {
    border: #000 2px solid;
    padding: 4px;
}

.transaction .timestamp {}

.transaction.dummy * {
    color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    cursor: progress;
    background:rgb(240, 240, 240) -webkit-gradient(linear,left top, right top,from(rgba(0,0,0,0.0)), color-stop(rgb(250, 250, 250)), to(rgba(0,0,0,0.0)));
    background:rgb(240, 240, 240) -o-linear-gradient(left,rgba(0,0,0,0.0), rgb(250, 250, 250), rgba(0,0,0,0.0));
    background:rgb(240, 240, 240) linear-gradient(0.25turn,rgba(0,0,0,0.0), rgb(250, 250, 250), rgba(0,0,0,0.0));
    -webkit-animation: loading 2s infinite;
            animation: loading 2s infinite;
    background-repeat: no-repeat;
}

@-webkit-keyframes loading {
    from{
        background-position: -300px 0;
    }
    to {
        background-position: 300px 0;
    }
}

@keyframes loading {
    from{
        background-position: -300px 0;
    }
    to {
        background-position: 300px 0;
    }
}

.mascot {
    position: fixed;
    right: 50px;
    bottom: -10px;
    height: 140px;
    width: 100px;
    background-image: url(../images/alpaca.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

@-webkit-keyframes bounce {
    from, to {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
}

@keyframes bounce {
    from, to {
        -webkit-transform: translateY(-30px);
                transform: translateY(-30px);
    }
}

.mascot:active {
    -webkit-animation: bounce 3.3s;
            animation: bounce 3.3s;
}

@media only screen and (max-width: 650px) {
    .info-panel {
        width: 100%;
    }
    .info-panel .title {
        font-size: 18px;
    }
    .info-panel .timer {
        font-size: 25px;
    }
    .info-panel::after {
        display: none;
    }
    .info-panel::before {
        display: none;
    }
    ul.transaction-list {
        width: 100%;
    }
    .mascot {
        display: none;
    }
}

::-moz-selection {
    color: #fff;
    background: rgb(247, 0, 255);
}

::selection {
    color: #fff;
    background: rgb(247, 0, 255);
}